<h1>Bonjour!</h1>

<p>Pour réinitialser votre mot de passe, cliquez sur le lien suivant:</p>

{# <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a> #}
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a>.

{# <p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p> #}
<p>Ce lien expirera dans une heure.</p>

<p>A bientôt!</p>
